.card-image{
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.artisan-card .card-image{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.category-card{
    max-height:450px;
    max-width: 400px;
    margin-bottom: -20px;
}

.artisan-card, .product-card{
    max-height: 330px;
    min-width: 220px;
    max-width: 250px;
}

.card-button{
    text-align: center;
}

.category-card .card-button{
    position: relative;
    bottom: 70px;
    z-index: 2;
}

.product-card .card-button{
    text-align: start;
}

.card-button button, .hero-button{
    height: 40px;
    width: auto;
    padding: 0px 20px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: white;
}

.hero-button{
    padding: 0px 40px;
    height: 50px;
    font-family: 'Sora', sans-serif;
}

@media only screen and (max-width: 1000px){
    .category-card{
        width: 48%;
    }
}

@media only screen and (max-width: 768px){
    .categories{
        display: flex;
        justify-content: space-around !important;
    }
}

@media only screen and (max-width: 500px){
    .category-card{
        height: 320px;
    }
}