@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.order-page{
    margin-top: 30px;
}

.search{
  top:12px;
  left: 290px;
  cursor: pointer;
}

table{
    overflow-x: scroll;
}

.form-control:focus{
    box-shadow:none;
}

.green{
    
    color:green;
}

select{
    border: 1px solid rgb(222, 222, 222);
    background-color: transparent;
    border-radius: 7px;
    color: grey;
}

.date-select{
    border: 0px solid rgb(222, 222, 222);
    background-color: transparent;
    border-radius: 7px;
    color: rgb(0,72,187);
    border-radius: 0px;
    outline: none;
}

td{
    font-size: 14px;
    color: rgb(36, 36, 36) !important;
}

th{
    min-width: fit-content;
}

@media screen and (max-width: 500px){
    .order-page{
        margin-left: 45px;
    }
}