nav{
    width: 100%;
    padding: 20px 0px;
}

.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: white;
    padding: 10px 0px;
}

.logo{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar {
    width: 50%;
    height: 50px;
    border-image: linear-gradient(to right, red, purple, blue);
    border-image-slice: 3;
    padding: 5px 15px;
}

.mobile-search-bar{
    height: 45px;
    border-image: linear-gradient(to right, red, purple, blue);
    border-image-slice: 3;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
}


.sign_up{
    border: 0;
    background-color: inherit;
    font-weight: bolder;
}

.sign_up:hover{
    border-radius: 20px;
    background-color: rgba(235, 232, 232, 0.815);
}

#heart{
    font-size: 200%;
}

#cart{
    font-size: 150%;
}

.nav2{
    display: flex;
    justify-content: center;
    gap: 5%;
    overflow-x: hidden;
    margin-top: 10vh;
}

@media only screen and (max-width: 1050px){
    .search_bar {
        width: 35%;
    }
}