@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

.section{
    min-height: 48vh;
    position: relative;
    top: 0px;
}

.list-flex{
    display: flex;
    overflow-x: scroll;
}

.hero{
    max-height: 96vh;
    overflow: hidden;
    position: relative;
}

.hero-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-image img{
    width: 100%;
    height: auto;
    filter: brightness(70%);
}

.hero-texts{
    position: absolute;
    z-index: 3;
    top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(113, 77, 32, 0.562);
}

.hero-texts .hero-button{
    background-color: rgb(113, 77, 32);
    color: white;
    font-size: 15px;
    width: 200px !important;
}

p.display-4{
    font-family: 'Sora', sans-serif;
}

@media only screen and (min-width: 768px){
    p.long-text{
        padding: 0px 70px;
    }
}

@media only screen and (max-width: 768px){
    p.long-text{
        padding: 0px 50px;
    }
    .section{
        position: relative;
        top: 50px;
    }
}

@media only screen and (max-width: 650px){
    .hero-texts{
        top: 0vh;
        background-color: rgba(113, 77, 32, 0.295);
    }
}

@media only screen and (width: 820px){
    .hero-texts{
    }
}
